/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');



body {
  font-family: sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 8px;
}
.input {
border: 1px solid #808080;
border-radius: 4px;
width: 272px;
background: #fff;
padding: 8px 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}
.input:hover {
  border-color: #000000;
}
.input:focus {
  border-color: #4E75FF;
  outline: none;
}

.button {
  border-radius: 8px;
padding-block: 8px;
padding-inline: 16px;
width: 91px;
background: #4e75ff;
color: #fff;
border: none;
font-size: 16px;
}

.button:hover {
 background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
}

.gallery img {
  width: 100%;
}

.info {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 4px;

}
.info-item {
  display: flex;
  flex-direction: column;
}
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border-width: 3px 2px 3px 2px;
  border-style: solid dotted solid dotted;
  border-color: #de3500 rgba(255, 255, 255, 0.3) #fff rgba(151, 107, 93, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
  margin: 0 auto;
}

.loader:before,
.loader:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}

.loader:after {
  border-color: #de3500 #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

.hidden {
  display: none;
}